<%= form_for(@trade) do |f| %>
	<div id='symbol_trade'>
		<%= f.text_field :symbol, placeholder: 'Symbol' %>
	</div>
	</br>
	<div id='total_coins_trade'>
		<%= f.text_field :total_coins, placeholder: 'Total Coins' %>
	</div>
	</br>
	<div id='dollars_trade'>
		<%= f.text_field :dollars, placeholder: 'Dollars Spent' %>
	</div>
	</br>
	<div id="date_trade">
		<%= f.date_field(:date, placeholder: 'Date of Purchase') %>
	</div>
	</br>
	<div>
		<%= f.submit 'Add', class: ['btn', 'btn-primary'] %>
	</div>
<% end %>